/* global.json */
:root {
  /* Default */
  /* color */
  --color-avatar-bg: var(--color-global-a-accent-lightest);
  --color-avatar-border: var(--color-path-subtle);
  --color-avatar-on-state: var(--color-path-accent-a);
  --color-bg-default-surface: var(--color-gray-white);
  --color-bg-footer: var(--color-global-b-accent-darkest);
  --color-bg-nav: var(--color-gray-neutral-lightest);
  --color-bg-page: var(--color-gray-neutral-lightest);
  --color-bg-side-pannel: var(--color-gray-white);
  --color-brand-cian: #04d9de;
  --color-brand-dark-gray: #4e4e4e;
  --color-brand-deco-flame: #f4a83e;
  --color-brand-deco-gold: #f3c500;
  --color-brand-light--gray: #bfbfbf;
  --color-brand-midnight: #042046;
  --color-brand-navy: #035075;
  --color-brand-nocturne-blue: #020b42;
  --color-brand-primary: var(--color-brand-zafiro);
  --color-brand-secondary: var(--color-brand-midnight);
  --color-brand-teal: #00b3b7;
  --color-brand-tertiary: var(--color-brand-teal);
  --color-brand-zafiro: #027da2;
  --color-button-error-fill-bg-default: var(--color-system-state-error-default);
  --color-button-error-fill-bg-disabled: var(--color-system-state-error-disabled);
  --color-button-error-fill-bg-focus: var(--color-system-state-error-active);
  --color-button-error-fill-bg-hover: var(--color-system-state-error-hover);
  --color-button-error-fill-bg-selected: var(--color-system-state-error-active);
  --color-button-error-fill-text-default: var(--color-system-on-state-error-default);
  --color-button-error-fill-text-disabled: var(--color-system-on-state-error-disabled);
  --color-button-error-fill-text-focus: var(--color-system-on-state-error-active);
  --color-button-error-fill-text-hover: var(--color-system-on-state-error-hover);
  --color-button-error-fill-text-selected: var(--color-system-on-state-error-active);
  --color-button-error-outline-default: var(--color-system-state-error-default);
  --color-button-error-outline-disabled: var(--color-path-disabled);
  --color-button-error-outline-focus: var(--color-system-state-error-active);
  --color-button-error-outline-hover: var(--color-system-state-error-hover);
  --color-button-error-outline-selected: var(--color-system-state-error-active);
  --color-button-error-outline-text-default: var(--color-system-state-error-default);
  --color-button-error-outline-text-disabled: var(--color-system-on-state-error-disabled);
  --color-button-error-outline-text-focus: var(--color-system-state-error-active);
  --color-button-error-outline-text-hover: var(--color-system-state-error-hover);
  --color-button-error-outline-text-selected: var(--color-system-state-error-active);
  --color-button-error-text-default: var(--color-system-state-error-default);
  --color-button-error-text-disabled: var(--color-system-on-state-error-disabled);
  --color-button-error-text-hover: var(--color-system-state-error-hover);
  --color-button-primary-fill-bg-default: var(--color-global-a-state-default);
  --color-button-primary-fill-bg-disabled: var(--color-global-a-state-disabled);
  --color-button-primary-fill-bg-focus: var(--color-global-a-state-focus);
  --color-button-primary-fill-bg-hover: var(--color-global-a-state-hover);
  --color-button-primary-fill-bg-selected: var(--color-global-a-state-selected);
  --color-button-primary-fill-text-default: var(--color-global-a-on-state-default);
  --color-button-primary-fill-text-disabled: var(--color-global-a-on-state-disabled);
  --color-button-primary-fill-text-focus: var(--color-global-a-on-state-focus);
  --color-button-primary-fill-text-hover: var(--color-global-a-on-state-hover);
  --color-button-primary-fill-text-selected: var(--color-global-a-on-state-selected);
  --color-button-primary-outline-default: var(--color-global-a-state-default);
  --color-button-primary-outline-disabled: var(--color-path-disabled);
  --color-button-primary-outline-focus: var(--color-global-a-state-focus);
  --color-button-primary-outline-hover: var(--color-global-a-state-hover);
  --color-button-primary-outline-selected: var(--color-global-a-state-selected);
  --color-button-primary-outline-text-default: var(--color-global-a-state-default);
  --color-button-primary-outline-text-disabled: var(--color-global-a-on-state-disabled);
  --color-button-primary-outline-text-focus: var(--color-global-a-state-focus);
  --color-button-primary-outline-text-hover: var(--color-global-a-state-hover);
  --color-button-primary-outline-text-selected: var(--color-global-a-state-selected);
  --color-button-primary-text-default: var(--color-global-a-state-default);
  --color-button-primary-text-disabled: var(--color-global-a-on-state-disabled);
  --color-button-primary-text-hover: var(--color-global-a-state-hover);
  --color-button-secondary-fill-bg-default: var(--color-global-b-state-default);
  --color-button-secondary-fill-bg-disabled: var(--color-global-b-state-disabled);
  --color-button-secondary-fill-bg-focus: var(--color-global-b-state-focus);
  --color-button-secondary-fill-bg-hover: var(--color-global-b-state-hover);
  --color-button-secondary-fill-bg-selected: var(--color-global-b-state-selected);
  --color-button-secondary-fill-text-default: var(--color-global-b-on-state-default);
  --color-button-secondary-fill-text-disabled: var(--color-global-b-on-state-disabled);
  --color-button-secondary-fill-text-focus: var(--color-global-b-on-state-focus);
  --color-button-secondary-fill-text-hover: var(--color-global-b-on-state-hover);
  --color-button-secondary-fill-text-selected: var(--color-global-b-on-state-selected);
  --color-button-secondary-outline-default: var(--color-global-b-state-default);
  --color-button-secondary-outline-disabled: var(--color-path-disabled);
  --color-button-secondary-outline-focus: var(--color-global-b-state-focus);
  --color-button-secondary-outline-hover: var(--color-global-b-state-hover);
  --color-button-secondary-outline-selected: var(--color-global-b-state-selected);
  --color-button-secondary-outline-text-default: var(--color-global-b-state-default);
  --color-button-secondary-outline-text-disabled: var(--color-global-b-on-state-disabled);
  --color-button-secondary-outline-text-focus: var(--color-global-b-state-focus);
  --color-button-secondary-outline-text-hover: var(--color-global-b-state-hover);
  --color-button-secondary-outline-text-selected: var(--color-global-b-state-selected);
  --color-button-secondary-text-default: var(--color-global-b-state-default);
  --color-button-secondary-text-disabled: var(--color-global-b-on-state-disabled);
  --color-button-secondary-text-hover: var(--color-global-b-state-hover);
  --color-button-success-fill-bg-default: var(--color-system-state-success-default);
  --color-button-success-fill-bg-disabled: var(--color-system-state-success-disabled);
  --color-button-success-fill-bg-focus: var(--color-system-state-success-active);
  --color-button-success-fill-bg-hover: var(--color-system-state-success-hover);
  --color-button-success-fill-bg-selected: var(--color-system-state-success-active);
  --color-button-success-fill-text-default: var(--color-system-on-state-success-default);
  --color-button-success-fill-text-disabled: var(--color-system-on-state-success-disabled);
  --color-button-success-fill-text-focus: var(--color-system-on-state-success-active);
  --color-button-success-fill-text-hover: var(--color-system-on-state-success-hover);
  --color-button-success-fill-text-selected: var(--color-system-on-state-success-active);
  --color-button-success-outline-default: var(--color-system-state-success-default);
  --color-button-success-outline-disabled: var(--color-path-disabled);
  --color-button-success-outline-focus: var(--color-system-state-success-active);
  --color-button-success-outline-hover: var(--color-system-state-success-hover);
  --color-button-success-outline-selected: var(--color-system-state-success-active);
  --color-button-success-outline-text-default: var(--color-system-state-success-default);
  --color-button-success-outline-text-disabled: var(--color-system-on-state-success-disabled);
  --color-button-success-outline-text-focus: var(--color-system-state-success-active);
  --color-button-success-outline-text-hover: var(--color-system-state-success-hover);
  --color-button-success-outline-text-selected: var(--color-system-state-success-active);
  --color-button-success-text-default: var(--color-system-state-success-default);
  --color-button-success-text-disabled: var(--color-system-on-state-success-disabled);
  --color-button-success-text-hover: var(--color-system-state-success-hover);
  --color-button-warning-fill-bg-default: var(--color-system-state-warning-default);
  --color-button-warning-fill-bg-disabled: var(--color-system-state-warning-disabled);
  --color-button-warning-fill-bg-focus: var(--color-system-state-warning-active);
  --color-button-warning-fill-bg-hover: var(--color-system-state-warning-hover);
  --color-button-warning-fill-bg-selected: var(--color-system-state-warning-active);
  --color-button-warning-fill-text-default: var(--color-system-on-state-warning-default);
  --color-button-warning-fill-text-disabled: var(--color-system-on-state-warning-disabled);
  --color-button-warning-fill-text-focus: var(--color-system-on-state-warning-active);
  --color-button-warning-fill-text-hover: var(--color-system-on-state-warning-hover);
  --color-button-warning-fill-text-selected: var(--color-system-on-state-warning-active);
  --color-button-warning-outline-default: var(--color-system-state-warning-default);
  --color-button-warning-outline-disabled: var(--color-path-disabled);
  --color-button-warning-outline-focus: var(--color-system-state-warning-active);
  --color-button-warning-outline-hover: var(--color-system-state-warning-hover);
  --color-button-warning-outline-selected: var(--color-system-state-warning-active);
  --color-button-warning-outline-text-default: var(--color-system-state-warning-default);
  --color-button-warning-outline-text-disabled: var(--color-system-on-state-warning-disabled);
  --color-button-warning-outline-text-focus: var(--color-system-state-warning-active);
  --color-button-warning-outline-text-hover: var(--color-system-state-warning-hover);
  --color-button-warning-outline-text-selected: var(--color-system-state-warning-active);
  --color-button-warning-text-default: var(--color-system-state-warning-default);
  --color-button-warning-text-disabled: var(--color-system-on-state-warning-disabled);
  --color-button-warning-text-hover: var(--color-system-state-warning-hover);
  --color-checkbox-bg-active: var(--color-global-a-surface-input-hover);
  --color-checkbox-bg-default: var(--color-global-a-surface-input);
  --color-checkbox-bg-disabled: var(--color-global-a-surface-input-disabled);
  --color-checkbox-border-active: var(--color-global-a-state-active);
  --color-checkbox-border-default: var(--color-path-border-default);
  --color-checkbox-border-disabled: var(--color-global-a-on-state-disabled);
  --color-checkbox-check-active: var(--color-global-a-state-active);
  --color-checkbox-check-disabled: var(--color-global-a-on-state-disabled);
  --color-checkbox-focus: var(--color-global-a-state-focus);
  --color-checkbox-focus-disabled: var(--color-global-a-state-disabled);
  --color-checkbox-hover: var(--color-global-a-accent-lighter);
  --color-checkbox-hover-disabled: var(--color-global-a-state-disabled);
  --color-chip-error-fill-bg-default: var(--color-system-state-error-default);
  --color-chip-error-fill-bg-disabled: var(--color-system-state-error-disabled);
  --color-chip-error-fill-bg-focus: var(--color-system-state-error-active);
  --color-chip-error-fill-bg-hover: var(--color-system-state-error-hover);
  --color-chip-error-fill-bg-selected: var(--color-system-state-error-active);
  --color-chip-error-fill-text-default: var(--color-system-on-state-error-default);
  --color-chip-error-fill-text-disabled: var(--color-system-on-state-error-disabled);
  --color-chip-error-fill-text-focus: var(--color-system-on-state-error-active);
  --color-chip-error-fill-text-hover: var(--color-system-on-state-error-hover);
  --color-chip-error-fill-text-selected: var(--color-system-on-state-error-active);
  --color-chip-error-outline-default: var(--color-system-state-error-default);
  --color-chip-error-outline-disabled: var(--color-path-disabled);
  --color-chip-error-outline-focus: var(--color-system-state-error-active);
  --color-chip-error-outline-hover: var(--color-system-state-error-hover);
  --color-chip-error-outline-selected: var(--color-system-state-error-active);
  --color-chip-error-outline-text-default: var(--color-system-state-error-hover);
  --color-chip-error-outline-text-disabled: var(--color-system-on-state-error-disabled);
  --color-chip-error-outline-text-focus: var(--color-system-state-error-active);
  --color-chip-error-outline-text-hover: var(--color-system-state-error-hover);
  --color-chip-error-outline-text-selected: var(--color-system-state-error-active);
  --color-chip-error-text-default: var(--color-system-state-error-default);
  --color-chip-error-text-disabled: var(--color-system-on-state-error-disabled);
  --color-chip-error-text-hover: var(--color-system-state-error-hover);
  --color-chip-primary-fill-bg-default: var(--color-global-a-state-default);
  --color-chip-primary-fill-bg-disabled: var(--color-global-a-state-disabled);
  --color-chip-primary-fill-bg-focus: var(--color-global-a-state-focus);
  --color-chip-primary-fill-bg-hover: var(--color-global-a-state-hover);
  --color-chip-primary-fill-bg-selected: var(--color-global-a-state-selected);
  --color-chip-primary-fill-text-default: var(--color-global-a-on-state-default);
  --color-chip-primary-fill-text-disabled: var(--color-global-a-on-state-disabled);
  --color-chip-primary-fill-text-focus: var(--color-global-a-on-state-focus);
  --color-chip-primary-fill-text-hover: var(--color-global-a-on-state-hover);
  --color-chip-primary-fill-text-selected: var(--color-global-a-on-state-selected);
  --color-chip-primary-outline-default: var(--color-global-a-state-default);
  --color-chip-primary-outline-disabled: var(--color-path-disabled);
  --color-chip-primary-outline-focus: var(--color-global-a-state-focus);
  --color-chip-primary-outline-hover: var(--color-global-a-state-hover);
  --color-chip-primary-outline-selected: var(--color-global-a-state-selected);
  --color-chip-primary-outline-text-default: var(--color-global-a-state-default);
  --color-chip-primary-outline-text-disabled: var(--color-global-a-on-state-disabled);
  --color-chip-primary-outline-text-focus: var(--color-global-a-state-focus);
  --color-chip-primary-outline-text-hover: var(--color-global-a-state-hover);
  --color-chip-primary-outline-text-selected: var(--color-global-a-state-selected);
  --color-chip-primary-text-default: var(--color-global-a-state-default);
  --color-chip-primary-text-disabled: var(--color-global-a-on-state-disabled);
  --color-chip-primary-text-hover: var(--color-global-a-state-hover);
  --color-chip-secondary-fill-bg-default: var(--color-global-b-state-default);
  --color-chip-secondary-fill-bg-disabled: var(--color-global-b-state-disabled);
  --color-chip-secondary-fill-bg-focus: var(--color-global-b-state-focus);
  --color-chip-secondary-fill-bg-hover: var(--color-global-b-state-hover);
  --color-chip-secondary-fill-bg-selected: var(--color-global-b-state-selected);
  --color-chip-secondary-fill-text-default: var(--color-global-b-on-state-default);
  --color-chip-secondary-fill-text-disabled: var(--color-global-b-on-state-disabled);
  --color-chip-secondary-fill-text-focus: var(--color-global-b-on-state-focus);
  --color-chip-secondary-fill-text-hover: var(--color-global-b-on-state-hover);
  --color-chip-secondary-fill-text-selected: var(--color-global-b-on-state-selected);
  --color-chip-secondary-outline-default: var(--color-global-b-state-default);
  --color-chip-secondary-outline-disabled: var(--color-path-disabled);
  --color-chip-secondary-outline-focus: var(--color-global-b-state-focus);
  --color-chip-secondary-outline-hover: var(--color-global-b-state-hover);
  --color-chip-secondary-outline-selected: var(--color-global-b-state-selected);
  --color-chip-secondary-outline-text-default: var(--color-global-b-state-default);
  --color-chip-secondary-outline-text-disabled: var(--color-global-b-on-state-disabled);
  --color-chip-secondary-outline-text-focus: var(--color-global-b-state-focus);
  --color-chip-secondary-outline-text-hover: var(--color-global-b-state-hover);
  --color-chip-secondary-outline-text-selected: var(--color-global-b-state-selected);
  --color-chip-secondary-text-default: var(--color-global-b-state-default);
  --color-chip-secondary-text-disabled: var(--color-global-b-on-state-disabled);
  --color-chip-secondary-text-hover: var(--color-global-b-state-hover);
  --color-chip-success-fill-bg-default: var(--color-system-state-success-default);
  --color-chip-success-fill-bg-disabled: var(--color-system-state-success-disabled);
  --color-chip-success-fill-bg-focus: var(--color-system-state-success-active);
  --color-chip-success-fill-bg-hover: var(--color-system-state-success-hover);
  --color-chip-success-fill-bg-selected: var(--color-system-state-success-active);
  --color-chip-success-fill-text-default: var(--color-system-on-state-success-default);
  --color-chip-success-fill-text-disabled: var(--color-system-on-state-success-disabled);
  --color-chip-success-fill-text-focus: var(--color-system-on-state-success-active);
  --color-chip-success-fill-text-hover: var(--color-system-on-state-success-hover);
  --color-chip-success-fill-text-selected: var(--color-system-on-state-success-active);
  --color-chip-success-outline-default: var(--color-system-state-success-default);
  --color-chip-success-outline-disabled: var(--color-path-disabled);
  --color-chip-success-outline-focus: var(--color-system-state-success-active);
  --color-chip-success-outline-hover: var(--color-system-state-success-hover);
  --color-chip-success-outline-selected: var(--color-system-state-success-active);
  --color-chip-success-outline-text-default: var(--color-system-state-success-default);
  --color-chip-success-outline-text-disabled: var(--color-system-on-state-success-disabled);
  --color-chip-success-outline-text-focus: var(--color-system-state-success-active);
  --color-chip-success-outline-text-hover: var(--color-system-state-success-hover);
  --color-chip-success-outline-text-selected: var(--color-system-state-success-active);
  --color-chip-success-text-default: var(--color-system-state-success-default);
  --color-chip-success-text-disabled: var(--color-system-on-state-success-disabled);
  --color-chip-success-text-hover: var(--color-system-state-success-hover);
  --color-chip-warning-fill-bg-default: var(--color-system-state-warning-default);
  --color-chip-warning-fill-bg-disabled: var(--color-system-state-warning-disabled);
  --color-chip-warning-fill-bg-focus: var(--color-system-state-warning-active);
  --color-chip-warning-fill-bg-hover: var(--color-system-state-warning-hover);
  --color-chip-warning-fill-bg-selected: var(--color-system-state-warning-active);
  --color-chip-warning-fill-text-default: var(--color-system-on-state-warning-default);
  --color-chip-warning-fill-text-disabled: var(--color-system-on-state-warning-disabled);
  --color-chip-warning-fill-text-focus: var(--color-system-on-state-warning-active);
  --color-chip-warning-fill-text-hover: var(--color-system-on-state-warning-hover);
  --color-chip-warning-fill-text-selected: var(--color-system-on-state-warning-active);
  --color-chip-warning-outline-default: var(--color-system-state-warning-default);
  --color-chip-warning-outline-disabled: var(--color-path-disabled);
  --color-chip-warning-outline-focus: var(--color-system-state-warning-active);
  --color-chip-warning-outline-hover: var(--color-system-state-warning-hover);
  --color-chip-warning-outline-selected: var(--color-system-state-warning-active);
  --color-chip-warning-outline-text-default: var(--color-system-state-warning-default);
  --color-chip-warning-outline-text-disabled: var(--color-system-on-state-warning-disabled);
  --color-chip-warning-outline-text-focus: var(--color-system-state-warning-active);
  --color-chip-warning-outline-text-hover: var(--color-system-state-warning-hover);
  --color-chip-warning-outline-text-selected: var(--color-system-state-warning-active);
  --color-chip-warning-text-default: var(--color-system-state-warning-default);
  --color-chip-warning-text-disabled: var(--color-system-on-state-warning-disabled);
  --color-chip-warning-text-hover: var(--color-system-state-warning-hover);
  --color-date-picker-bg-active: var(--color-global-a-state-active);
  --color-date-picker-bg-default: var(--color-bg-default-surface);
  --color-date-picker-bg-weekend: var(--color-system-error-lightest);
  --color-date-picker-border-active: var(--color-path-border-a);
  --color-date-picker-number-active: var(--color-text-inverse);
  --color-date-picker-number-default: var(--color-text-body-strong);
  --color-date-picker-number-disabled: var(--color-text-disabled);
  --color-date-picker-number-today: var(--color-text-accent-a);
  --color-date-picker-number-weekend: var(--color-text-error);
  --color-deco-c-100: #fdf2e2;
  --color-deco-c-200: #fbe1bb;
  --color-deco-c-300: #f9cf95;
  --color-deco-c-400: #f7be6e;
  --color-deco-c-50: #fefbf5;
  --color-deco-c-500: var(--color-deco-c-base);
  --color-deco-c-600: #dc9738;
  --color-deco-c-700: #b77e2f;
  --color-deco-c-800: #865c22;
  --color-deco-c-900: #553b16;
  --color-deco-c-950: #251909;
  --color-deco-c-accent: var(--color-deco-c-600);
  --color-deco-c-accent-dark: var(--color-deco-c-800);
  --color-deco-c-accent-darker: var(--color-deco-c-900);
  --color-deco-c-accent-darkest: var(--color-deco-c-950);
  --color-deco-c-accent-light: var(--color-deco-c-200);
  --color-deco-c-accent-lighter: var(--color-deco-c-100);
  --color-deco-c-accent-lightest: var(--color-deco-c-50);
  --color-deco-c-base: var(--color-brand-deco-flame);
  --color-deco-c-on-state-active: var(--color-path-inverse);
  --color-deco-c-on-state-default: var(--color-path-inverse);
  --color-deco-c-on-state-disabled: var(--color-path-disabled);
  --color-deco-c-on-state-focus: var(--color-path-inverse);
  --color-deco-c-on-state-hover: var(--color-path-inverse);
  --color-deco-c-on-state-selected: var(--color-path-inverse);
  --color-deco-c-state-active: var(--color-deco-c-accent);
  --color-deco-c-state-default: var(--color-deco-c-accent);
  --color-deco-c-state-disabled: var(--color-gray-neutral-lighter);
  --color-deco-c-state-focus: var(--color-deco-c-accent-darker);
  --color-deco-c-state-hover: var(--color-deco-c-accent-dark);
  --color-deco-c-state-selected: var(--color-deco-c-accent-darker);
  --color-deco-c-surface-accent: var(--color-deco-c-accent);
  --color-deco-c-surface-accent-dark: var(--color-deco-c-accent-dark);
  --color-deco-c-surface-accent-light: var(--color-deco-c-accent-light);
  --color-deco-c-surface-input: var(--color-gray-white);
  --color-deco-c-surface-input-disabled: var(--color-gray-neutral-lightest);
  --color-deco-c-surface-input-hover: var(--color-gray-white);
  --color-global-a-100: #d9ecf1;
  --color-global-a-200: #a6d2de;
  --color-global-a-300: #74b8cc;
  --color-global-a-400: #419eb9;
  --color-global-a-50: #f2f9fa;
  --color-global-a-500: var(--color-global-a-base);
  --color-global-a-600: #027192;
  --color-global-a-700: #025e7a;
  --color-global-a-800: #014559;
  --color-global-a-900: #012c39;
  --color-global-a-950: #001318;
  --color-global-a-accent: var(--color-global-a-600);
  --color-global-a-accent-dark: var(--color-global-a-800);
  --color-global-a-accent-darker: var(--color-global-a-900);
  --color-global-a-accent-darkest: var(--color-global-a-950);
  --color-global-a-accent-light: var(--color-global-a-200);
  --color-global-a-accent-lighter: var(--color-global-a-100);
  --color-global-a-accent-lightest: var(--color-global-a-50);
  --color-global-a-base: var(--color-brand-zafiro);
  --color-global-a-on-state-active: var(--color-path-inverse);
  --color-global-a-on-state-default: var(--color-path-inverse);
  --color-global-a-on-state-disabled: var(--color-path-disabled);
  --color-global-a-on-state-focus: var(--color-path-inverse);
  --color-global-a-on-state-hover: var(--color-path-inverse);
  --color-global-a-on-state-selected: var(--color-path-inverse);
  --color-global-a-state-active: var(--color-global-a-accent);
  --color-global-a-state-default: var(--color-global-a-accent);
  --color-global-a-state-disabled: var(--color-gray-neutral-lighter);
  --color-global-a-state-focus: var(--color-global-a-accent-light);
  --color-global-a-state-hover: var(--color-global-a-accent-dark);
  --color-global-a-state-selected: var(--color-global-a-accent-darker);
  --color-global-a-surface-accent: var(--color-global-a-accent);
  --color-global-a-surface-accent-dark: var(--color-global-a-accent-dark);
  --color-global-a-surface-accent-light: var(--color-global-a-accent-light);
  --color-global-a-surface-input: var(--color-gray-white);
  --color-global-a-surface-input-disabled: var(--color-gray-neutral-lightest);
  --color-global-a-surface-input-hover: var(--color-gray-neutral-lightest);
  --color-global-b-100: #d9dfe5;
  --color-global-b-200: #a7b4c1;
  --color-global-b-300: #75899e;
  --color-global-b-400: #435f7b;
  --color-global-b-50: #f2f4f6;
  --color-global-b-500: var(--color-global-b-base);
  --color-global-b-600: #042547;
  --color-global-b-700: #031f3b;
  --color-global-b-800: #02172b;
  --color-global-b-900: #010e1c;
  --color-global-b-950: #01060c;
  --color-global-b-accent: var(--color-global-b-500);
  --color-global-b-accent-dark: var(--color-global-b-800);
  --color-global-b-accent-darker: var(--color-global-b-900);
  --color-global-b-accent-darkest: var(--color-global-b-950);
  --color-global-b-accent-light: var(--color-global-b-200);
  --color-global-b-accent-lighter: var(--color-global-b-100);
  --color-global-b-accent-lightest: var(--color-global-b-50);
  --color-global-b-base: var(--color-brand-tertiary);
  --color-global-b-on-state-active: var(--color-path-inverse);
  --color-global-b-on-state-default: var(--color-path-inverse);
  --color-global-b-on-state-disabled: var(--color-path-disabled);
  --color-global-b-on-state-focus: var(--color-path-inverse);
  --color-global-b-on-state-hover: var(--color-path-inverse);
  --color-global-b-on-state-selected: var(--color-path-inverse);
  --color-global-b-state-active: var(--color-global-b-accent);
  --color-global-b-state-default: var(--color-global-b-accent);
  --color-global-b-state-disabled: var(--color-gray-neutral-lighter);
  --color-global-b-state-focus: var(--color-global-b-accent-darker);
  --color-global-b-state-hover: var(--color-global-b-accent-dark);
  --color-global-b-state-selected: var(--color-global-b-accent-darker);
  --color-global-b-surface-accent: var(--color-global-b-accent);
  --color-global-b-surface-accent-dark: var(--color-global-b-accent-light);
  --color-global-b-surface-accent-light: var(--color-global-b-accent-light);
  --color-global-b-surface-input: var(--color-gray-white);
  --color-global-b-surface-input-disabled: var(--color-gray-neutral-lightest);
  --color-global-b-surface-input-hover: var(--color-gray-neutral-lightest);
  --color-gray-100: #ebebeb;
  --color-gray-200: #d0d0d0;
  --color-gray-300: #b5b5b5;
  --color-gray-400: #9a9a9a;
  --color-gray-50: #f8f8f8;
  --color-gray-500: var(--color-gray-base);
  --color-gray-600: #6c6c6c;
  --color-gray-700: #5a5a5a;
  --color-gray-800: #424242;
  --color-gray-900: #2a2a2a;
  --color-gray-950: #121212;
  --color-gray-base: #787878;
  --color-gray-black: #000000;
  --color-gray-neutral: var(--color-gray-400);
  --color-gray-neutral-dark: var(--color-gray-500);
  --color-gray-neutral-darker: var(--color-gray-600);
  --color-gray-neutral-darkest: var(--color-gray-950);
  --color-gray-neutral-light: var(--color-gray-200);
  --color-gray-neutral-lighter: var(--color-gray-100);
  --color-gray-neutral-lightest: var(--color-gray-50);
  --color-gray-white: #ffffff;
  --color-input-bg-default: var(--color-global-a-surface-input);
  --color-input-bg-disabled: var(--color-global-a-surface-input-disabled);
  --color-input-bg-error: var(--color-global-a-surface-input);
  --color-input-bg-focus: var(--color-global-a-surface-input-hover);
  --color-input-bg-hover: var(--color-global-a-surface-input-hover);
  --color-input-bg-success: var(--color-global-a-surface-input);
  --color-input-bg-value-option-hover: var(--color-global-a-accent-lightest);
  --color-input-bg-value-selected: var(--color-global-a-state-active);
  --color-input-border-active: var(--color-global-a-state-active);
  --color-input-border-default: var(--color-path-border-default);
  --color-input-border-disabled: var(--color-path-border-disabled);
  --color-input-border-error: var(--color-path-border-error);
  --color-input-border-focus: var(--color-path-border-active-a);
  --color-input-border-hover: var(--color-path-border-hover-a);
  --color-input-border-success: var(--color-path-border-success);
  --color-input-icon: var(--color-path-strong);
  --color-input-icon-disbled: var(--color-path-disabled);
  --color-input-text-helper-error: var(--color-text-error);
  --color-input-text-helper-info: var(--color-text-info);
  --color-input-text-helper-success: var(--color-text-success);
  --color-input-text-label: var(--color-text-body-strong);
  --color-input-text-placeholder: var(--color-text-body-default);
  --color-input-text-placeholder-disabled: var(--color-text-disabled);
  --color-input-text-value: var(--color-text-body-strong);
  --color-input-text-value-hover: var(--color-text-body-strong);
  --color-input-text-value-selected: var(--color-global-a-on-state-active);
  --color-path-accent-a: var(--color-global-a-accent-dark);
  --color-path-accent-b: var(--color-global-b-accent-darker);
  --color-path-border-a: var(--color-global-a-accent);
  --color-path-border-b: var(--color-global-b-accent);
  --color-path-border-active-a: var(--color-global-a-accent);
  --color-path-border-active-b: var(--color-global-b-accent-darker);
  --color-path-border-default: var(--color-path-middle);
  --color-path-border-disabled: var(--color-path-disabled);
  --color-path-border-error: var(--color-path-error);
  --color-path-border-focus-default: var(--color-global-a-accent-dark);
  --color-path-border-hover-a: var(--color-global-a-accent-dark);
  --color-path-border-hover-b: var(--color-global-b-accent-darker);
  --color-path-border-success: var(--color-path-success);
  --color-path-border-warning: var(--color-path-warning);
  --color-path-brand-primary: var(--color-brand-primary);
  --color-path-brand-secondary: var(--color-brand-secondary);
  --color-path-checked-a: var(--color-global-a-state-active);
  --color-path-checked-b: var(--color-gray-white);
  --color-path-disabled: var(--color-gray-neutral);
  --color-path-error: var(--color-system-error-dark);
  --color-path-info: var(--color-system-info-dark);
  --color-path-inverse: var(--color-gray-white);
  --color-path-middle: var(--color-gray-neutral-light);
  --color-path-strong: var(--color-gray-neutral-darkest);
  --color-path-subtle: var(--color-gray-neutral-lighter);
  --color-path-success: var(--color-system-success-darker);
  --color-path-warning: var(--color-system-warning-darker);
  --color-radio-button-bg-active: var(--color-global-a-surface-input-hover);
  --color-radio-button-bg-default: var(--color-global-a-surface-input);
  --color-radio-button-bg-disabled: var(--color-global-a-surface-input-disabled);
  --color-radio-button-border-active: var(--color-global-a-state-active);
  --color-radio-button-border-default: var(--color-path-border-default);
  --color-radio-button-border-disabled: var(--color-global-a-on-state-disabled);
  --color-radio-button-dot-active: var(--color-global-a-state-active);
  --color-radio-button-dot-disabled: var(--color-global-a-on-state-disabled);
  --color-radio-button-focus: var(--color-global-a-state-focus);
  --color-radio-button-focus-disabled: var(--color-global-a-state-disabled);
  --color-radio-button-hover: var(--color-global-a-accent-lighter);
  --color-radio-button-hover-disabled: var(--color-global-a-state-disabled);
  --color-sidenav-item-bg-active: var(--color-global-a-accent-lightest);
  --color-sidenav-item-bg-default: var(--color-bg-default-surface);
  --color-sidenav-item-bg-disabled: var(--color-bg-default-surface);
  --color-sidenav-item-bg-hover: var(--color-gray-neutral-lighter);
  --color-sidenav-item-text-active: var(--color-text-accent-a);
  --color-sidenav-item-text-default: var(--color-text-body-strong);
  --color-sidenav-item-text-disabled: var(--color-text-disabled);
  --color-sidenav-item-text-hover: var(--color-text-accent-a);
  --color-switch-border-unselect: var(--color-gray-neutral-dark);
  --color-switch-border-unselect-disabled: var(--color-gray-neutral-light);
  --color-switch-focus-indicator: var(--color-global-a-accent-dark);
  --color-switch-thumb: var(--color-global-a-state-active);
  --color-switch-thumb-disabled: var(--color-gray-neutral-light);
  --color-switch-thumb-unselect: var(--color-global-a-accent-lighter);
  --color-switch-thumb-unselect-disabled: var(--color-global-a-state-disabled);
  --color-switch-track: var(--color-global-a-accent-lighter);
  --color-switch-track-disabled: var(--color-gray-neutral-lighter);
  --color-switch-track-focus: var(--color-global-a-accent);
  --color-switch-track-hover: var(--color-global-a-accent);
  --color-switch-track-unselect: var(--color-gray-neutral-dark);
  --color-switch-track-unselect-disabled: var(--color-gray-neutral-light);
  --color-switch-track-unselect-focus: var(--color-global-a-accent-light);
  --color-switch-track-unselect-hover: var(--color-global-a-accent-light);
  --color-system--outline: #9a9a9a;
  --color-system-error: #ec221f;
  --color-system-error-dark: #c00f0c;
  --color-system-error-darker: #8a0606;
  --color-system-error-darkest: #670d0d;
  --color-system-error-light: #fb6363;
  --color-system-error-lighter: #faa5a5;
  --color-system-error-lightest: #ffe5e5;
  --color-system-info: #4285f4;
  --color-system-info-dark: #2358c2;
  --color-system-info-darker: #1111b1;
  --color-system-info-darkest: #00008b;
  --color-system-info-light: #48a5ff;
  --color-system-info-lighter: #89c5ff;
  --color-system-info-lightest: #e6f3ff;
  --color-system-on-state-error-active: #ffffff;
  --color-system-on-state-error-default: #ffffff;
  --color-system-on-state-error-disabled: #9a9a9a;
  --color-system-on-state-error-disabled-outline: #9a9a9a;
  --color-system-on-state-error-hover: #ffffff;
  --color-system-on-state-success-active: #ffffff;
  --color-system-on-state-success-default: #ffffff;
  --color-system-on-state-success-disabled: #9a9a9a;
  --color-system-on-state-success-hover: #ffffff;
  --color-system-on-state-warning-active: #ffffff;
  --color-system-on-state-warning-default: #ffffff;
  --color-system-on-state-warning-disabled: #9a9a9a;
  --color-system-on-state-warning-hover: #ffffff;
  --color-system-state-error-active: #8a0606;
  --color-system-state-error-default: #ec221f;
  --color-system-state-error-disabled: #ebebeb;
  --color-system-state-error-disabled-outline: #ebebeb;
  --color-system-state-error-hover: #c00f0c;
  --color-system-state-success-active: #2d8d56;
  --color-system-state-success-default: #2d8d56;
  --color-system-state-success-disabled: #ebebeb;
  --color-system-state-success-hover: #006400;
  --color-system-state-warning-active: #713f01;
  --color-system-state-warning-default: #ff8c00;
  --color-system-state-warning-disabled: #ebebeb;
  --color-system-state-warning-hover: #d47809;
  --color-system-success: #2ecc71;
  --color-system-success-dark: #37bb6f;
  --color-system-success-darker: #2d8d56;
  --color-system-success-darkest: #006400;
  --color-system-success-light: #57e192;
  --color-system-success-lighter: #ccffcc;
  --color-system-success-lightest: #e7f6e7;
  --color-system-warning: #ffa500;
  --color-system-warning-dark: #ff8c00;
  --color-system-warning-darker: #d47809;
  --color-system-warning-darkest: #713f01;
  --color-system-warning-light: #ffb52e;
  --color-system-warning-lighter: #ffcc6e;
  --color-system-warning-lightest: #ffeed0;
  --color-tab-bg-container: var(--color-gray-white);
  --color-tab-focus-indicator: var(--color-global-a-accent-dark);
  --color-tab-item-bg-active: var(--color-gray-white);
  --color-tab-item-bg-default: var(--color-gray-white);
  --color-tab-item-bg-focus: var(--color-global-a-accent-lighter);
  --color-tab-item-bg-hover: var(--color-global-a-accent-lightest);
  --color-tab-item-icon-active: var(--color-global-a-accent-dark);
  --color-tab-item-icon-default: var(--color-path-strong);
  --color-tab-item-icon-focus: var(--color-path-strong);
  --color-tab-item-icon-hover: var(--color-global-a-state-hover);
  --color-tab-item-line-active: var(--color-global-a-state-active);
  --color-tab-item-line-default: var(--color-path-border-default);
  --color-tab-item-line-focus: var(--color-global-a-state-active);
  --color-tab-item-line-hover: var(--color-global-a-state-active);
  --color-tab-item-text-active: var(--color-text-accent-a);
  --color-tab-item-text-default: var(--color-text-body-strong);
  --color-tab-item-text-focus: var(--color-text-body-strong);
  --color-tab-item-text-hover: var(--color-text-accent-a);
  --color-text-accent-a: var(--color-global-a-accent-dark);
  --color-text-accent-b: var(--color-global-b-accent);
  --color-text-accent-c: var(--color-deco-c-accent);
  --color-text-body-default: var(--color-gray-neutral-darker);
  --color-text-body-strong: var(--color-gray-neutral-darkest);
  --color-text-body-subtle: var(--color-gray-neutral-lighter);
  --color-text-disabled: var(--color-path-disabled);
  --color-text-error: var(--color-system-error-darker);
  --color-text-info: var(--color-system-info-darker);
  --color-text-inverse: var(--color-path-inverse);
  --color-text-link: var(--color-system-info);
  --color-text-link-hover: var(--color-system-info-dark);
  --color-text-success: var(--color-system-success-darkest);
  /* number */
  --breakpoint-xxs: 26.75rem;
  --breakpoint-xs: 42.5rem;
  --breakpoint-sm: 48rem;
  --breakpoint-md: 64rem;
  --breakpoint-lg: 80rem;
  --breakpoint-viewport-size: 90rem;
  --breakpoint-xl: 90rem;
  --corner-none: 0rem;
  --corner-square: var(--corner-none);
  --corner-control-xs: var(--corner-xxs);
  --corner-xxs: 0.125rem;
  --corner-control: var(--corner-xs);
  --corner-xs: 0.25rem;
  --corner-pill: var(--corner-sm);
  --corner-sm: 0.5rem;
  --corner-md: 0.75rem;
  --corner-surface: var(--corner-md);
  --corner-lg: 1rem;
  --corner-lg-increased: 1.25rem;
  --corner-xl: 1.75rem;
  --corner-xl-increased: 2rem;
  --corner-xxl: 3rem;
  --corner-full: 6rem;
  --font-lh-auto: 0.0625rem;
  --font-lh-tight: 0.0719rem;
  --font-lh-base: 0.0938rem;
  --font-lh-loose: 0.1rem;
  --font-body-xs: 0.7407rem;
  --font-body-sm: 0.8333rem;
  --font-label: var(--font-body-sm);
  --font-base: 0.9375rem;
  --font-body-md: 0.9375rem;
  --font-text-button: var(--font-body-md);
  --font-body-lg: 1.0547rem;
  --font-heading-sm: 1.1865rem;
  --font-heading-md: 1.3348rem;
  --font-heading-lg: 1.5017rem;
  --font-heading-xl: 1.6894rem;
  --font-heading-xxl: 1.9006rem;
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semi-bold: 600;
  --font-weight-bold: 700;
  --font-weight-extra-bold: 800;
  --font-weight-black: 900;
  --layout-colums-grid: 0.75rem;
  --layout-gutter-layout: 1rem;
  --layout-padding-site: 2.3125rem;
  --layout-margin-section: 2.375rem;
  --opacity-max: 0.625rem;
  --opacity-high: 1.875rem;
  --opacity-medium: 3.125rem;
  --opacity-low: 5rem;
  --ratio-rt-minor-second: 0.0662rem;
  --ratio-ratio-scale: var(--ratio-rt-major-second);
  --ratio-rt-major-second: 0.0703rem;
  --ratio-rt-minor-third: 0.075rem;
  --ratio-rt-major-third: 0.0781rem;
  --ratio-rt-perfect-fourth: 0.0831rem;
  --ratio-rt-augmented-fourth: 0.0881rem;
  --ratio-rt-perfect-fifth: 0.0938rem;
  --ratio-rt-golden-ratio: 0.1013rem;
  --scale-l-0: 0rem;
  --scale-l-1: 0.0625rem;
  --scale-stroke-1: 0.0625rem;
  --scale-fixed-xxs: var(--scale-l-2);
  --scale-fluid-xxs: 0.125rem;
  --scale-l-2: 0.125rem;
  --scale-stroke-2: 0.125rem;
  --scale-l-3: 0.1875rem;
  --scale-stroke-3: 0.1875rem;
  --scale-fixed-xs: var(--scale-l-4);
  --scale-fluid-xs: 0.25rem;
  --scale-l-4: 0.25rem;
  --scale-stroke-4: 0.25rem;
  --scale-l-6: 0.375rem;
  --scale-fixed-sm: var(--scale-l-8);
  --scale-fluid-sm: 0.5rem;
  --scale-l-8: 0.5rem;
  --scale-l-10: 0.625rem;
  --scale-l-12: 0.75rem;
  --scale-l-13: 0.8125rem;
  --scale-l-14: 0.875rem;
  --scale-fixed-md: var(--scale-l-16);
  --scale-l-16: 1rem;
  --scale-l-18: 1.125rem;
  --scale-l-20: 1.25rem;
  --scale-l-22: 1.375rem;
  --scale-fixed-lg: var(--scale-l-24);
  --scale-fluid-lg: 1.5rem;
  --scale-l-24: 1.5rem;
  --scale-l-26: 1.625rem;
  --scale-l-28: 1.75rem;
  --scale-l-30: 1.875rem;
  --scale-l-32: 2rem;
  --scale-l-34: 2.125rem;
  --scale-l-36: 2.25rem;
  --scale-base: 2.3125rem;
  --scale-fluid-md: var(--scale-base);
  --scale-l-37: 2.3125rem;
  --scale-l-38: 2.375rem;
  --scale-l-40: 2.5rem;
  --scale-l-42: 2.625rem;
  --scale-l-43: 2.6875rem;
  --scale-l-44: 2.75rem;
  --scale-l-46: 2.875rem;
  --scale-fixed-xl: var(--scale-l-48);
  --scale-fluid-xl: 3rem;
  --scale-l-48: 3rem;
  --scale-l-50: 3.125rem;
  --scale-l-54: 3.375rem;
  --scale-l-56: 3.5rem;
  --scale-l-62: 3.875rem;
  --scale-l-64: 4rem;
  --scale-l-67: 4.1875rem;
  --scale-l-72: 4.5rem;
  --scale-l-78: 4.875rem;
  --scale-l-80: 5rem;
  --scale-l-88: 5.5rem;
  --scale-l-96: 6rem;
  --scale-l-104: 6.5rem;
  --scale-l-112: 7rem;
  --scale-l-120: 7.5rem;
  --scale-l-128: 8rem;
  --scale-fixed-xxl: var(--scale-l-144);
  --scale-fluid-xxl: 9rem;
  --scale-l-144: 9rem;
  --scale-l-168: 10.5rem;
  --scale-l-192: 12rem;
  --z-index-z-index-base: 0.0625rem;
  --z-index-dropdown: 6.25rem;
  --z-index-modal: 62.5rem;
  --z-index-tooltip: 125rem;
  /* string */
  --font-family-number: DM Mono;
  --font-family-primary: Inter;
  --ratio-ratio-scale-string: var(--ratio-rt2-golden-ratio);
  --ratio-rt2-golden-ratio: 1.618;
  --ratio-rts-augmented-fourth: augmented-fourth (1.414);
  --ratio-rts-golden-ratio: golden-ratio (1.618);
  --ratio-rts-major-second: major-second (1.125);
  --ratio-rts-major-third: major-third (1.25);
  --ratio-rts-minor-second: minor-second (1.067);
  --ratio-rts-minor-third: minor-third (1.2);
  --ratio-rts-perfect-fifth: perfect-fifth (1.5);
  --ratio-rts-perfect-fourth: perfect-fourth (1.33);
}